<% content_for :javascript_pack do %>
  <%= javascript_pack_tag 'react/posts/index', 'data-turbolinks-track': 'reload', defer: true %>
<% end %>

<% content_for :stylesheet_pack do %>
  <%= stylesheet_pack_tag 'react/posts/index', 'data-turbolinks-track': 'reload' %>
<% end %>

<h1>Holi qui tal TEA</h1>
<div id="root">
</div>
