// Montserrat 700
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Noto Sans 400 700
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

// Indie Flower 400
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
